.main_chat
  .main_chat--top
    .main_chat--top--left
      .main_chat--top--left__name
        = @group.name
      %ul.main_chat--top--left__name__member_name
        Member
        %li.main_chat--top--left__name__member_name__list
          - @group.group_users.each do |group_user|
            = group_user.user.name
    .main_chat--top--right
      = link_to edit_group_path(@group) do
        Edit
  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'