.side_bar
  .side_bar__top
    .side_bar__top__box
      .side_bar__top__box--name
        = current_user.name
      %ul.side_bar__top__box--icon
        %li.side_bar__top__box--icon__edit
        = link_to new_group_path do
          = icon('fas', 'edit')
        %li.side_bar__top__box--icon__group
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog')
  .side_bar__main
    - current_user.groups.each do |group|
      .side_bar__main__box
        = link_to group_messages_path(group) do
          .side_bar__main__box--name
            = group.name
          .side_bar__main__box--comment
            = group.show_last_message